*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: #171a20;
    font-family: 'M PLUS 1', sans-serif;
}
@media (min-width:1200px){
    .desktop{
        display: initial;
    }
}
header{
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 5px 20px;
    position: fixed;
    top: 0;
    z-index:2;
    width: 100%;
}
a.logo{
    margin-left: 10px;
    margin-top: 10px;
    height: 20px;
    width: 125px;
    color: inherit;
}
header a{
    color: inherit;
}
header nav a{
    text-decoration:none ;
    padding: 5px 10px;
} 
header nav a:hover{
    color: #fff;
	} 
header nav.ortamenu{
    margin-top: 5px;
    text-align: right;
}
section{
    height: 100vh;
    background-size: cover;
    background-position: center center;
}
section .icerik{
    width: 100%;
    padding-top: 25vh;
    padding-bottom: 15vh;
    padding-right: 100vh;
    text-align: center;
    display: grid;
    grid-template-rows: min-content auto min-content;
}
section h1{
    font-size: 5rem;
}
section a{
    color: inherit;
}
section .buton a{
    width: 350px;
    margin-left: 140px;
    margin-top: 200px;
    display: block;
    background-color: #eee;
    color: inherit;
    padding: 10px 100px;
    border-radius: 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}
section .buton a:first-child{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

section .buton{
    display: grid;
    row-gap: 20px;
    margin: 0 40px;
}

section .buton a:first-child:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

@media  (min-width:768px){
    section .buton{
        max-width: 640px;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
}
.arkaplan{
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,.35);
    backdrop-filter: blur(5px);
}
.arkaplan.active{
    display: block;
}
.iletisim{
	position:absolute;
	top:20%;
	left:20%;
	width: 1500px;
	height: 700px;
}
.textbox1{
    margin: 10px; 
    margin-top: 100px;
    margin-left: 250px;
	border-radius:10px;
    width: 250px;
    height: 35px;
	}
.textbox2{
    margin: 10px;
    margin-top: -200px;
    margin-left: 100px;
	border-radius:10px;
    width: 250px;
    height: 35px;
	}	
.textbox3{
    margin-top: 300px;
    margin: 10px;
	border-radius:10px;
    width: 250px;
    height: 35px;
	}
.textbox4{
    margin-left: 900px;
    margin: 10px;
	border-radius:10px;
    width: 250px;
    height: 35px;
	}
.textbox5{
    margin: 10px;
	border-radius:10px;
    width: 250px;
    height: 35px;
	} 
    
.acılırmenu{
    text-align: center;
	border-radius:10px;
    width: 250px;
    height: 35px;
    }
.ibuton{
    margin: 10px;
    border-radius:10px;
	margin-left:50px;
    width: 250px;
    height: 35px;
}    